.experience{
    padding-top: 8rem;
    margin-bottom: 7rem;
    transform: scale(0.8);
    transition: all 0.5s;
}

.glow-up{
    transform: scale(1);
}

@media(max-width: 600px){
    .experience{
        margin-bottom: 10rem;
    }
}
