// $green-text: #4ABBA8;
// $background-color: #0A192F;
// $webkit-text-fill-color: #8892B0;
// $text-color: #CCD6F6;
// $text-line-height: 30px;

$background-color: #FFF6E0;
$green-text: #E15549;
$webkit-text-fill-color: #482307;
$text-color: #5C340F;
$text-size: 1rem;
$text-line-height: 30px;

.p-tag{
    color: $webkit-text-fill-color;
    line-height: $text-line-height;
    margin-bottom: 1rem;
}